<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Regra para permitir arquivos estáticos -->
        <rule name="Static Files" stopProcessing="true">
          <match url="(.*)\.(js|css|png|jpg|jpeg|gif|ico|woff|woff2|ttf|svg)$" />
          <action type="None" />
        </rule>
        <!-- Regra para redirecionar rotas desconhecidas para index.html -->
        <rule name="React Routes with HashRouter" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/controlepessoal/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
